{
  "jsonrpc": "2.0",
  "id": 0,
  "method": "cli",
  "params": {
    "commands": [
      "enter candidate",
      "routing-policy {",
      "prefix-set  {{ routing_policy.prefix_set_name }} {",
      "prefix {{ routing_policy.prefix_set_ip }} mask-length-range 8..32 {",
      "}",
      "}",
      "policy {{ routing_policy.policy_name }} {",
      "default-action {",
      "reject {",
      "}",
      "}",
      "statement 10 {",
      "match {",
      "prefix-set {{ routing_policy.prefix_set_name }}",
      "}",
      "action {",
      "accept {",
      "}",
      "}",
      "}",
      "}",
      "}"
    ]
  }
}

